PORT=3001
HOST=127.0.0.1
DATA_FILE=./data/state.json
TWILIO_MODE=TEST
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=your_test_auth_token
TWILIO_FROM_NUMBER=+15005550006
TWILIO_CALLBACK_BASE_URL=http://localhost:3001
